<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About me</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <nav>
      <a href="#">Главная</a>
      <a href="#">О себе</a>
      <a href="#">Проекты</a>
      <a href="#">Контакты</a>
    </nav>
  </header>
  <main>
    <section id="hero">
      <h1></h1>
      <p></p>
    </section>
    
    <section id="about">
      <h2></h2>
      <p></p>
    </section>

    <section id="projects">
      <h2></h2>
      <p></p>
    </section>

    <section id="contacts">
      <h2></h2>
      <p></p>
    </section>
  </main>
  <footer>
    Erzhan Aytimov. 2025.
  </footer>
</body>
</html>