{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'My portfolio' %}</title>
    <!-- Подключение стилей -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Шапка -->
    <header>
        <nav>
            <ul>
                <li><a href="{% static 'index.html' %}">{% trans 'Home' %}</a></li>
                <li><a href="{% static 'projects.html' %}">{% trans 'Projects' %}</a></li>
                <li><a href="{% static 'contacts.html' %}">{% trans 'Contacts' %}</a></li>
            </ul>
        </nav>
    </header>

    <!-- Основной контент -->
    <main>
        <h1>{% trans "Hello, I'am Backend developer" %}</h1>
        <p>{% trans 'Here you find information about me and my projects' %}</p>
    </main>

    <!-- Подвал -->
    <footer>
        <p>&copy; {% trans 'Erzhan Aytimov' %}. 2025.</p>
    </footer>
</body>
</html>
